[submodule "themes/congo"]
	path = themes/congo
	url = git@github.com:jpanther/congo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
