[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "theme/PaperModX"]
	path = theme/PaperModX
	url = git@github.com:reorx/hugo-PaperModX.git
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = git@github.com:reorx/hugo-PaperModX.git
